@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); 

.league-spartan-thin {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto; 
  font-weight: 100; 
} 

.league-spartan-hairline { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 200; 
} 

.league-spartan-light { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 300; 
} 

.league-spartan-normal { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 400; 
}

.league-spartan-medium { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 500; 
} 

.league-spartan-semibold { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 600; 
} 

.league-spartan-bold { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 700; 
} 

.league-spartan-extrabold { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 800; 
} 

.league-spartan-black { 
  font-family: "League Spartan", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: 900; 
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
	font-family: "League Spartan", sans-serif;
}

body {
  @apply flex flex-col justify-center items-center h-screen w-screen;
}

.calc{
  @apply w-80 flex flex-col gap-4
}

header{
  @apply flex justify-between font-semibold
}

.theme-provider {
  @apply grid grid-cols-2 gap-x-2;
}

.theme-toggle {
  @apply w-full h-4 flex justify-between items-center rounded-full my-auto
}

.toggle-btn {
  @apply w-3 h-3 rounded-full m-1 bg-t1-key-bg-red;
}

main{
  @apply flex flex-col gap-2
}

.display{
  @apply h-10 rounded-md p-4 text-end shadow-md text-4xl font-semibold
}

.button-part{
  @apply grid grid-cols-4 gap-4 p-4 rounded-md shadow-sm
}

.button{
  @apply rounded-md px-4 py-2 text-2xl font-semibold flex flex-col justify-center items-center
}

/* ----------------------theme 1----------------------- */
.themeOne body {
  @apply bg-t1-main-bg;
}

.themeOne header{
  @apply text-t1-key-bg-orange
}

.themeOne .theme-toggle {
  @apply bg-t1-toggle-bg;
}

.themeOne .display{
  @apply bg-t1-screen-bg text-t1-text-white
}

.themeOne .button-part{
  @apply bg-t1-keypad-bg
}

.themeOne .button{
  @apply bg-t1-key-bg-orange  text-t1-text-dark shadow-Two
}



/* ---------------------------theme 2-------------------------- */
.themeTwo body {
  @apply bg-t2-main-bg;
}

.themeTwo header{
  @apply text-t2-text-dark
}

.themeTwo .theme-toggle {
  @apply bg-t2-toggle-bg;
}

.themeTwo .display{
  @apply bg-t2-screen-bg text-t2-text-dark
}

.themeTwo .button-part{
  @apply bg-t2-keypad-bg
}

.themeTwo .button{
  @apply bg-t2-key-bg-yellow text-t2-text-dark shadow-Two
}



/* ------------------theme 3------------------- */
.themeThree body {
  @apply bg-t3-main-bg;
}

.themeThree header {
  @apply text-t3-text-yellow
}

.themeThree .theme-toggle {
  @apply bg-t3-toggle-bg;
}

.themeThree .toggle-btn{
  @apply bg-t3-key-shadow-cyan
}

.themeThree .display{
  @apply bg-t3-screen-bg text-t3-text-yellow
}

.themeThree .button-part{
  @apply bg-t3-keypad-bg
}

.themeThree .button{
  @apply bg-t3-key-bg-violet text-t3-text-yellow shadow-three
}